*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#00b6fe,#7d145d);
    padding: 10px;
  }
  
  .todo-app {
    width: 100%;
    max-width: 700px; /* Adjust breakpoint as needed */
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .todo-app {
      max-width: 90%; /* Adjust for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .todo-app {
      max-width: 100%; /* Single column layout for mobile */
    }
    .todo-app h2 {
      flex-direction: column; /* Stack title and image on mobile */
      align-items: flex-start;
    }
    .todo-app h2 img {
      margin-bottom: 10px;
    }
    .row {
      flex-direction: column; /* Vertically stack input and button */
    }
    input {
      margin-bottom: 20px;
    }
    ul li {
      padding: 12px 20px; /* Adjust padding for mobile */
    }
    ul li span {
      font-size: 18px; /* Adjust font size for mobile */
    }
  }
  
  .todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .todo-app h2 img {
    width: 30px;
    margin-left: 10px;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
  }
  
  input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
  }
  
  button {
    border: none;
    outline: none;
    padding: 16px 50px; /* Adjust padding if needed */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff5949;
    border-radius: 40px;
  }
  
  ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px; /* Adjust padding as needed */
    user-select: none;
    cursor: pointer;
    position: relative;
  }
  
  ul li::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
  }
  
  ul li.checked {
    color: #555;
    text-decoration: line-through;
  }
  
  ul li.checked::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(images/checked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
  }
  
  ul li span {
    position: absolute;
